@import "styles/variables.scss";

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;

  &__img {
    z-index: -1;
  }

  &__content {
    position: relative;
  }

  &__brand {
    font-weight: 400;
    font-size: 30px;
    color: $whiteColor;
    padding-top: 230px;
  }

  &__works {
    font-weight: 700;
    font-size: 46px;
    color: $whiteColor;
    max-width: 426px;
    margin-top: 20px;
  }

  &__description {
    font-weight: 300;
    font-size: 28px;
    color: $whiteColor;

    max-width: 457px;
    margin: 20px 0px 20px 0px;
  }
}

@media only screen and (max-width: 769px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__works,
    &__description {
      text-align: center;
    }

    &__brand {
      font-weight: 400;
      font-size: 20px;
      padding-top: 0;
    }
  }
}
