@import "../styles/variables.scss";

.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 80px;
}

.button {
  background-color: $orangeColor;
  color: $whiteColor;
  transition-duration: 0.4s;
  width: 270px;
  height: 75px;

  border: none;
  border-radius: 15px;
  display: inline-block;
  padding: 17px 49px;

  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;

  &:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.title {
  margin: 140px 0px 75px 0px;
  font-weight: $fTitleWeight;
  font-size: $fTitleSize;
  text-align: center;
}

.brownHr {
  border: none;
  border-radius: 180px;
  height: 2px;
  background: $brownColor;
  margin: 140px 0px 140px 0px;
}

.link {
  text-decoration: none;
  color: $blackColor;
}

.unblur {
  animation: unblur .5s linear;
}

@keyframes unblur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 739px;
    margin: auto;
    padding: 0 20px;
  }

  .title {
    font-size: 40px;
  }

  .brownHr {
    margin: 99px 0px 99px 0px;
  }
}

@media only screen and (max-width: 769px) {
  .container {
    max-width: 439px;
    margin: auto;
    padding: 0 15px;
  }

  .title {
    font-size: 40px;
    margin: 99px 0px 45px;
  }

  .brownHr {
    margin: 130px 0px 130px 0px;
  }
}
