@import "styles/variables";

.container {
  max-width: #{$largeScreen};
  margin: auto;
  padding: 0 80px;
}

.title {
  margin: 140px 0 75px 0;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.brownHr {
  border: none;
  border-radius: 180px;
  height: 2px;
  background: $brownColor;
  margin: 140px 0 140px 0;
}

.link {
  text-decoration: none;
  color: $blackColor;
}

.unblur {
  animation: unblur .5s linear;
}

@keyframes unblur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}

@media (max-width: #{$largeScreen}) {
  .container {
    max-width: 739px;
    margin: auto;
    padding: 0 20px;
  }

  .title {
    font-size: 40px;
  }

  .brownHr {
    margin: 99px 0 99px 0;
  }
}

@media (max-width: #{$mediumScreen}) {
  .container {
    max-width: 439px;
    margin: auto;
    padding: 0 15px;
  }

  .title {
    font-size: 40px;
    margin: 99px 0 45px;
  }

  .brownHr {
    margin: 130px 0 130px 0;
  }
}
